<p style="color: green"><%= notice %></p>

<h1>Links</h1>

<div class="h-screen flex items-center justify-center">
  <% @links.each do |link| %>
    <div class="rounded-md w-72 min-h-[10rem] overflow-hidden">
      <img
        alt="Home"
        src="<%= link_image_url(link.url) %>"
        class="h-56 w-full rounded-md object-cover" />

      <div class="mt-2 font-medium">
        <%= link_title(link.url) %>
      </div>

      <div class="text-sm text-gray-500">
        <%= link_host(link.url) %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New link", new_link_path %>
